.event-container{
  margin:0;
  padding: 70px 15px;
  min-height: 100vh;

  .upcoming-details{
    padding: 50px 20px;
    h3{
      text-align: center;
    }
  }

  .event-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    .event-box{
      max-width: 300px;
      margin: 0 10px 20px 10px;

      md-card.mat-card{
        height: 380px;
        overflow: hidden;
        padding:0;
        .event-img{
          height:200px;
          img{
            transition: .2s ease-in-out;
            min-height: 200px;
            margin-top:0;
            cursor: pointer;
          }
          img:hover{
            transform: scale(1.2);
          }
        }
        md-card-content{
          position: relative;
          height: 180px;
          background: #fff;
          padding: 20px;
          button{
            position: absolute;
            right: 0;
            top: 10px;
          }
          h5{
            margin-bottom: 15px;
          }
          .line-clamp {
            display: block;
            overflow: hidden;
            height: 45px;
            p{
              font-size:13px;
              color:#757575;
              margin-bottom: 5px;
            }
          }
          span{
            display: block;
            color:#454545;
            md-icon.material-icons{
              position: relative;
              top:5px;
              left:0;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
