<section>
  <md-card class="search-box">
    <div class="search-container">
      <div>
        <md-icon>search</md-icon>
        <input class="search" placeholder="Search..." [(ngModel)]="eventname" name="eventname" (keyup)="searchEvents()">
      </div>
    </div>
  </md-card>
  <div class="event-container">
    <ng-container *ngIf="!events && !eventname">
      <div class="custom-loading" [@loadingAnim]="!events">
        <h4>Retrieving Information...</h4>
        <!--<md-spinner color="accent" class="loading-spinner"></md-spinner>-->
      </div>
    </ng-container>
    <ng-container *ngIf="!events && eventname">
      <div class="no-result">
          <span class="no-result-face">
            <span class="no-result-eyes"></span>
            <span class="no-result-eyes"></span>
            <span class="no-result-mouth"></span>
          </span>
        <h3>Sorry!! No Result Found</h3>
      </div>
    </ng-container>
    <div *ngIf="events" class="upcoming-details">
      <h3>Upcoming Events</h3>
    </div>
    <div *ngIf="events" class="row event-details" @sectionAnim>
      <section *ngFor="let event of events" class="event-box">
        <md-card>
          <div class="event-img">
            <img md-card-image src="{{event.event_image}}" height="200px">
          </div>
          <md-card-content>
            <button md-icon-button [mdMenuTriggerFor]="menu">
              <md-icon>more_vert</md-icon>
            </button>
            <h5>{{event.event_title}}</h5>
            <div class="line-clamp">
              <p>{{event.event_description}}</p>
            </div>
            <span><md-icon>perm_identity</md-icon>&nbsp;posted by: {{ event.username}}</span>
            <span><md-icon>place</md-icon>&nbsp;Location: {{ event.event_location }}</span>
            <md-menu class="sidebutton" #menu="mdMenu">
              <a routerLink="event-detail/{{event.event_id}}">
                <button md-menu-item>
                  <md-icon>remove_red_eye</md-icon>
                  <span>View Event</span>
                </button>
              </a>
              <button md-menu-item disabled>
                <md-icon>create</md-icon>
                <span>Edit</span>
              </button>
              <button md-menu-item>
                <md-icon>delete</md-icon>
                <span>Delete Event</span>
              </button>
            </md-menu>
          </md-card-content>
        </md-card>
      </section>
    </div>
  </div>
</section>
<itg-footer></itg-footer>
