<nav class="fixed-nav">
  <section [ngStyle]="{background:'#1565C0'}">
    <div class="mob-nav">
      <h1 class="itg-logo"><a href="#">ITGLANCE</a></h1>
      <ng-container *ngIf="currentUser">
        <span class="profile-icon-nav">
          <a routerLink="/profile/{{ userId }}">
              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/rogie/128.jpg" width="32">
          </a>
        </span>
      </ng-container>
    </div>
    <div class="toggle-btn" (click)="isActive =! isActive">
      <md-icon>menu</md-icon>
    </div>
  </section>
  <div [class.nav-active]="isActive" class="nav-container">
    <h1 class="itg-logo"><a href="#">ITGLANCE</a></h1>
    <ng-container>
      <ul (click)="isActive =!isActive" class="nav-links">
        <li routerLinkActive="active">
          <a [routerLink]="['home']">Home</a>
        </li>
        <li *ngIf="!currentUser" routerLinkActive="active">
          <a [routerLink]="['login']">Login</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['members']">Members</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['event']">Events</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['dashboard']">Forum</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['feedback']">Feedback</a>
        </li>
        <li *ngIf="!currentUser" routerLinkActive="active">
          <a [routerLink]="['register']">Register</a>
        </li>
      </ul>
      <ul *ngIf="currentUser" class="flex-links">
        <li><a mdTooltip="Notifications (Feature not available)">
          <md-icon>notifications</md-icon>
        </a></li>
        <li><a mdTooltip="Messages (Feature not available)">
          <md-icon>message</md-icon>
        </a></li>
        <li><a mdTooltip="Log Out" (click)="userLogout()">
          <md-icon>exit_to_app</md-icon>
        </a></li>
        <li class="profile-icon-nav">
          <a class="text-truncate" routerLink="/profile/{{ userId }}">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/rogie/128.jpg" width="32">
          </a>
        </li>
      </ul>
    </ng-container>
  </div>
</nav>
