nav.fixed-nav{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1003;
  background: #1565C0; //#18588e;
  max-height: 60px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0,0.4);

  .mob-nav{
    margin-right: 60px;
    h1.itg-logo,
    span.profile-icon-nav{
      display: none;
    }

    span.profile-icon-nav{
      padding: 14px;
      a{
        img{
          width:32px;
          border-radius: 50%;
        }
      }
    }
  }
  .toggle-btn{
    display: none;
    width: 60px;
    height: 60px;
  }
  .nav-container{
    margin: 0 30px;
    display: flex;

    h1.itg-logo{
      padding: 12px 0;
      margin: 0 30px 0 0;
      font-size: 2em;
      a{
        font-weight: 300;
        color: #fff;
      }
    }

    ul.nav-links,
    ul.flex-links{
      display: flex;
      margin:0;
      padding: 13px 0;
      flex-grow: 1;
      li{
        display: inline-block;
        transition: .5s ease;
        a {
          display: inline-block;
          color: #fff;
          margin: 5px 10px;
        }
      }

      li:hover{
        a{
          color: #e0e0e0;
        }
      }

      li.active{
        background: rgba(255, 255, 255, 0.20);
        border-radius: 3px;
      }
    }

    ul.flex-links{
      flex-grow: 0;
      li{
        max-height:32px;
        input{
          height: 100%;
        }
      }
      li.profile-icon-nav{
        a{
          margin: 0 10px;
          img{
            margin-left: 10px;
            display: inline-block;
            width:32px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@media (max-width: 885px) {
  nav.fixed-nav{
    .mob-nav{
      display: flex;
      justify-content: space-between;
      height: 60px;
      h1.itg-logo,
      span.profile-icon-nav{
        display: block;
        margin:0;
      }

      h1.itg-logo{
        a{
          color: #fff;
          text-decoration: none;
          position: relative;
          top: 5px;
          left: 20px;
          font-size: .8em;
          font-weight: 300;
        }
      }
    }
    .toggle-btn{
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;

      md-icon.material-icons{
        display: block;
        font-size:30px;
        color: #fff;
        padding: 15px;
        box-sizing: content-box;
        height: auto;
        width: auto;
      }
    }

    .nav-container{
      display: block;
      background: #1565C0;
      margin:0;
      padding:10px 20px;
      position: relative;
      opacity: 0;
      top:-350px;
      // transition: all 0.3s ease-in-out;
      transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
      z-index: -1;
      box-shadow:  0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);

      h1.itg-logo{
        display: none;
        height:60px;
        width: 100%;
      }

      ul.nav-links{
        display: block;
        margin:0;
        padding:0;

        li{
          display: block;
          a {
            display: block;
            margin:0;
            padding: 10px;
            width:100%;
          }
        }
      }

      ul.flex-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px 0 0 0;
        padding:0;
        li{
          width:100%;
          text-align: center;
          a{
            width:100%;
            padding-top:5px;
            margin:0;
          }
          a:hover,
          a.active{
            background: rgba(255, 255, 255, 0.20);
            border-radius: 3px;
          }
        }
        //dropdown ma user img wala
        li.profile-icon-nav{
          display:none;
        }
      }
    }


    .nav-container.nav-active{
      display: block;
      opacity: 1;
      top:0;
    }
  }
}


