<footer class="custom-footer">
  <div class="row">
    <section class="about col-md-6 col-sm-8">
      <h4>About</h4>
      <div class="footer-main">
        <ul>
          <li>
            <a [ngStyle]="{'color':'#fff'}" href="http://www.itglance.org">
              <!--<img src="http://www.itglance.org/img/IT-Glance-logo1.png" class="img-responsive">-->
              <h2>ITGlance</h2>
            </a>
          </li>
          <li>About Us</li>
          <li>Itglance Link</li>
        </ul>
      </div>
    </section>

    <section class="forum col-md-2 col-sm-4">
      <h4>Forum</h4>
      <div class="footer-forum">
        <ul>
          <li><a routerLink="/dashboard">Latest</a></li>
          <li><a routerLink="/dashboard">New Topics</a></li>
          <li><a routerLink="/dashboard">Other Stuffs</a></li>
        </ul>
      </div>
    </section>

    <section class="contact col-md-2 col-sm-8">
      <h4>Contact Us</h4>
      <div class="footer-contact">
        <ul>
          <li><a href="http://www.itglance.org/#contact"> Address </a></li>
          <li><a href="http://www.itglance.org/#contact"> Contact Number </a></li>
          <li><a href="http://www.itglance.org/#contact"> Email Address </a></li>
        </ul>
      </div>
    </section>

    <section class="followus col-md-2 col-sm-4">
      <h4>Follow Us</h4>
        <div class="footer-followus">
          <ul>
            <li><a href="https://www.facebook.com/itglance"><i class=" fa fa-facebook-official"></i></a></li>
            <li><a href="https://www.linkedin.com/company-beta/13276330/"><i class=" fa fa-linkedin-square"></i></a></li>
            <li><a href="https://plus.google.com/u/0/106621129517368803996"><i class=" fa fa-google-plus-official"></i></a></li>
            <li><a href="https://twitter.com/itglance"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
    </section>
  </div>
</footer>
<section class="bottom-footer">
    <a href="http://www.itglance.org">Designed and Developed by ITGlance</a>
</section>
