.custom-footer {
  background: #1E88E5;
  width: 100%;
  min-height: 300px;
  color: #fff;
  padding: 50px 50px 0 50px;
  box-shadow: 0 0 10px #5F5F5F;

  .about,
  .contact,
  .forum,
  .followus {
    margin-bottom: 15px;
    div {
      margin-top: 20px;
    }
    h4 {
      font-weight: 400;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 10px 0;
        a {
          color: #fff;
        }
      }
    }
  }
  .about {
    h2{
      margin: 0;
    }
    ul {
      li {
        a {
          color: #bbb;
          text-decoration: none;
        }
      }
    }
  }
  .contact {
  }
  .followus {
    ul {
      margin: 0;
      li {
        display: inline-block;
        padding-right: 25px;
        a {
          text-decoration: none;
          color: #fff;
          i {
            font-size: 28px;
          }
        }
      }
    }
  }
}

.bottom-footer {
  height: 40px;
  background: #1565C0;
  width: 100%;
  padding: 0 20px;

  a {
    text-decoration: none;
    text-align: right;
    display: block;
    height: 100%;
    padding: 10px;
    color: #fff;

  }
}

@media (max-width: 850px) {
  .custom-footer {
  }
}

@media (max-width: 575px) {
  .custom-footer {
  }
  .bottom-footer {
    a {
      display: block;
      text-align: center;
    }
  }
}
