<div class="dashboard-wrapper">
  <!--<div class="col-md-12 news-section-container">-->

  <!--</div>-->
  <!-- ending div of news-section-container-->
  <div class="forum-design-wrapper">
    <div class="forum-wrapper">
      <div class="col-md-3 col-sm-12 forum-filter-container">
        <itg-forum-filter-list></itg-forum-filter-list>
      </div>
      <!--ending div of forum filter container-->
      <div class="col-md-9 col-sm-12 forum-question-list">
        <router-outlet></router-outlet>
        <!--<itg-forum-list></itg-forum-list>-->
      </div>
      <!--ending of forum questions lists-->
    </div>
  </div>
  <!-- end of row forum-design-wrapper-->
</div>

