.analytics-wrapper{
    margin-top: 20px;

    .example-card{
        padding: 0 0 10px 0;
        text-align: center;

        h5{
            padding:10px auto;
                
        }

        .card-header{
            color: #fff;
            font-weight: bold;
        }

        h4{
            margin: 5px;
            font-weight: bold;
            color: gray;
        }

        .card-header{
            margin: 0;
            padding: 5px;
            background-color: #1DC7EA;
        }
    }
}