<div class="analytics-wrapper">
  <div class="row">

    <div class="col-md-3">
      <md-card class="example-card">
        <md-card-header class="card-header">
          ALl users
        </md-card-header>
        <md-card-content>
            <h5 *ngIf="numericValue">{{ numericValue.users}}</h5>
            <h4>No of Users</h4>
        </md-card-content>
      </md-card>
    </div>

    <div class="col-md-3">
      <md-card class="example-card">
        <md-card-header class="card-header">
          All Posts
        </md-card-header>
        <md-card-content>
            <h5 *ngIf="numericValue">{{ numericValue.posts }}</h5>
            <h4>Posts</h4>
        </md-card-content>
      </md-card>
    </div>

    <div class="col-md-3">
      <md-card class="example-card">
        <md-card-header class="card-header">
          Events Lists
        </md-card-header>
        <md-card-content>
            <h5 *ngIf="numericValue">{{ numericValue.events }}</h5>
            <h4>Events</h4>
        </md-card-content>
      </md-card>
    </div>

    <div class="col-md-3">
      <md-card class="example-card">
        <md-card-header class="card-header">
          Comments
        </md-card-header>
        <md-card-content>
            <h5 *ngIf="numericValue">{{ numericValue.comments }}</h5>
            <h4>Commented</h4>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
