<div class="wrapper">
  <form class="itg-form" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
    <div [class.isInvalid]="submitted == false" class="application-head">
      <h5>Application Form</h5>
    </div>
    <div class="name-block">
      <md-input-container>
        <input mdInput formControlName="fname" placeholder="First Name" required>
        <md-error>First name is required</md-error>
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="mname" placeholder="Middle Name">
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="lname" placeholder="Last Name" required>
        <md-error>Last name is required</md-error>
      </md-input-container>
    </div>
    <!--Date of Birth-->
    <!--<div class="dob">-->
      <!--<md-select  placeholder="Year">-->
        <!--<md-option>-->
        <!--</md-option>-->
      <!--</md-select>-->
      <!--<md-select placeholder="Month">-->
        <!--<md-option>-->
        <!--</md-option>-->
      <!--</md-select>-->
      <!--<md-select placeholder="Day">-->
        <!--<md-option>-->
        <!--</md-option>-->
      <!--</md-select>-->
    <!--</div>-->

    <!--gender-->
    <md-radio-group formControlName="gender">
      <label>Gender :</label>
      <md-radio-button [checked]="true" value="male" >Male</md-radio-button>
      <md-radio-button value="female">Female</md-radio-button>
    </md-radio-group>

    <!--Address-->
    <!--<div class="address">
      <label>Address</label>
      <md-select  placeholder="Country" formControlName="country_id" required>
        <md-option *ngFor="let country of countries" [value]="country.id" (click)="showProvinceZone(country.id)">
          {{country.country}}
        </md-option>
      </md-select>
      <md-select placeholder="Province" formControlName="province_id" >
          <md-option *ngFor="let province of provinces" [value]="province.province_id" required>
              {{province.province}}
          </md-option>
      </md-select>
      <md-select  placeholder="Zone" formControlName="zone_id" >
        <md-option *ngFor="let zone of zones" [value]="zone.zone_id" (click)="showDistrict(zone.zone_id)" required>
              {{zone.zone}}
          </md-option>
      </md-select>
      <md-select  placeholder="District" formControlName="district_id" required>
        <md-option *ngFor="let district of districts" [value]="district.district_id" (click)="showCity(district.district_id)">
          {{district.district}}
        </md-option>
      </md-select>
      <md-select  placeholder="City" formControlName="city_id" required>
        <md-option *ngFor="let city of cities" [value]="city.city_id">
          {{city.city}}
        </md-option>
      </md-select>
      <md-input-container>
        <input mdInput formControlName="local_address" placeholder="Local Address">
      </md-input-container>
    </div>-->

    <!--email-->
    <md-input-container>
     <input mdInput formControlName="email" placeholder="Email Address" required>
      <md-error>Email address required</md-error>
    </md-input-container>

    <!--contact-->
    <div class="contact">
      <md-input-container>
        <input mdInput formControlName="contact" placeholder="Contact No">
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="mobile_no" placeholder="Mobile No" required>
        <md-error>Mobile number required</md-error>
      </md-input-container>
    </div>
    <md-select placeholder="Select Course" formControlName="course_id" >
      <md-option *ngFor="let course of courses" [value]="course.id">
        {{course.programming_language}}
      </md-option>
    </md-select>
    <md-input-container>
      <textarea mdInput formControlName="whyus" placeholder="Why Us ?"></textarea>
    </md-input-container>
    <button md-raised-button color="accent" type="submit" (click)="openAlert()">Submit</button>
  </form>
</div>
