 .wrapper{
   max-width: 960px;
   margin:  0 auto;
   padding: 50px 0;

   .itg-form{
     margin:50px;
     border-radius: 15px;
     padding: 30px 50px;
     box-shadow: 0 40px 60px -20px rgba(0, 0, 0, 0.28);
     background: #fff;
     display: flex;
     flex-direction: column;
     position: relative;

     .application-head{
       background: #009688;//#1976d2;
       border-radius: 5px;
       padding: 1em;
       margin-bottom: 35px;
       box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

       h5{
         text-align: center;
         margin: 0;
         color: #fff;
         text-transform: uppercase;
       }
     }
     .application-head.isInvalid{
       background: #ff5651;
     }

     .name-block{
       display:flex;
       width: 100%;
       flex-wrap: wrap;
       md-input-container{
         flex-grow:1;
         width: auto;
         min-width:30%;
         margin-right: 5px;
       }
     }

     md-input-container{
       margin-bottom: 10px;
     }

     .dob{
       display: flex;
       flex-wrap: wrap;
       md-select{
         flex-grow: 1;
         min-width: 32%;
         margin-bottom: 20px;
         margin-right: 5px;
         color:rgba(0, 0, 0, 0.38);
       }
     }
     .address{
       display: flex;
       flex-direction: row;
       width: 100%;
       flex-wrap: wrap;

       label{
         padding: 0 2px;
         font-size: 1rem;
         flex-grow: 2;
         min-width: 100%;
         margin-bottom: 20px;
         color:rgba(0, 0, 0, 0.38);
       }
       md-select{
         flex-grow:1;
         min-width: 10%;
         margin: 0 5px 20px 0;
       }
       md-input-container{
         flex-grow: 2;
         min-width: 50%;
       }
     }
     .contact{
       display: flex;
       flex-wrap: wrap;
       md-input-container{
         flex-grow: 1;
         width: auto;
         min-width: 40%;
         margin-right: 5px;
       }
     }
     md-radio-group{
       margin: 12px 0;
       label,md-radio-button{
         padding: 0 2px;
         font-size: 1rem;
         margin-right: 1em;
         color:rgba(0, 0, 0, 0.38);
       }
       label{
         margin-right: 2em;
       }
       md-radio-button:nth-of-type(2){
         margin: 0;
       }
     }
     button{
       width:50%;
       margin:0 auto;
     }
   }

   md-select{
     margin: 10px 0;
   }
 }

 @media ( max-width : 455px ){
   .wrapper{
     .itg-form{
       margin: 15px;
       padding: 30px;
       md-radio-group{
         label{
           margin-right: 5px;
         }
         md-radio-button{
           margin:0;
         }
       }
     }
   }
 }

//dummy.html

/*.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding:50px;

  .wrapper-img{
    display: flex;
    height:250px;
    width:100px;
    align-content: center;
    background: pink;
  }
  .wrapper-form {
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 40px 60px -20px rgba(0, 0, 0, 0.28);
    background: #fff;
    max-width: 700px;
    h1{
      font-size: 32px;
      margin-bottom: 20px;
    }
    md-select {
      width:100%;
    }

    table {
      width: 100%;
      tr{
        height:5em;
      }
    }

    .radio-btn {
      height: inherit;
      padding: 1.2em 0;

      label, md-radio-button {
        padding: 0 2px;
        font-size: 1em;
        margin-right: .8em;
        color: rgba(0, 0, 0, 0.38);
      }
      label {
        margin-right: 1em;
      }
      md-radio-button:nth-of-type(2) {
        margin: 0;
      }
    }
  }

}*/

