<div class="forum-search-container">
  <input name="searchtext" [(ngModel)]="searchtext" (keyup)="searchForum()" type="text" placeholder="What're we looking for ?">
</div>
  <ng-container *ngIf="!resposts && !searchtext">
    <div class="custom-loading" [@loadingAnim]="!resposts">
      <h4>Retrieving Information...</h4>
      <!--<md-spinner color="accent" class="loading-spinner"></md-spinner>-->
    </div>
  </ng-container>
  <ng-container *ngIf="!resposts && searchtext">
    <div class="no-result">
      <span class="no-result-face">
        <span class="no-result-eyes"></span>
        <span class="no-result-eyes"></span>
        <span class="no-result-mouth"></span>
      </span>
      <h3>Sorry!! No Result Found</h3>
    </div>
  </ng-container>
  <ng-container *ngIf="resposts">
    <div *ngFor="let post of resposts">
      <md-card class="card-box">
        <div class="media">
          <div class="col-md-12">
            <a class="media-left waves-light image-hover-effect" routerLink="/profile/{{post.user_id}}">
              <img class="rounded-circle" src="{{post.profile_imagelink}}/{{post.profile_image}}" alt="Generic placeholder image" width="80px" height="80px">
            </a>
              <div class="media-body forum-detail-wrapper">
                <h4 class="media-heading forum-question">
                  <a routerLink="/dashboard/forum-detail/{{ post.post_id}}/{{ post.post_title }}">{{post.post_title}}</a>
                </h4>
                  <a routerLink="/dashboard/forum/category/{{ post.cat_id }}/{{post.category}}">
                    <md-chip-list>
                      <span class="tag bg-success label-pill">{{post.category}}</span>
                    </md-chip-list>
                  </a>
                <span class="date-of-posted">{{post.postedtime}}</span> |&nbsp;
                Posted By: <a class="tag bg-warning label-pill" routerLink="/profile/{{post.user_id}}">{{ post.username}}</a>
              <div class="clearfix"></div>
            <br>
            </div>
        </div>
        <div class="col-md-12">
          <hr>
            <p>{{ post.post_body }}</p>
        </div>
      </div>
    </md-card>
  </div>
</ng-container>


