#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
.cssanimations .cd-timeline-img.is-hidden {
  visibility: hidden;
}
.cssanimations .cd-timeline-img.bounce-in {
  visibility: visible;
  animation: cd-bounce-1 0.6s;
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.forum-question{
  font-size: 23px;
  font-weight: bold;
}
.forum-question a{
  color: #757575;
}
.forum-detail-wrapper{
  padding-left: 20px;

}
.date-of-posted{
  font-size: 14px;
  color: #a8a8a8;
  font-weight: bold;
}
.forum-detail-wrapper p{
  width: 85%;
}
.forum-view-comment
{
  font-size: 17px;
  font-weight: bold;
  color: #a8a8a8;
}
.forum-view-comment i{
  color: #1f7eff;
  transition: ease-in 0.2s;
}
.forum-view-comment i:hover{
  color: #ff6b18;

}
.card-box{
  margin-bottom: 10px;
}

.floating-button{
  position: fixed;
    right: 10px;
    bottom: 10px;
}

.forum-search-container{
  display: block;
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
  input{
    border: none;
    width: 100%;
    padding: 0;
    &::placeholder{
      transition: all .3s ease;
    }
    &:focus{
      outline: none;
      &::placeholder{
        padding: 0 10px;
      }
    }
  }
}

.media img{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}


