<div class="admin-nav-link">
  <a routerLinkActive="active" routerLink="/admin" ><li class="list-item"> <md-icon> dashboard</md-icon> &nbsp; Dashboard</li></a>
  <a routerLinkActive="active" routerLink="analytics"><li class="list-item"> <md-icon> graphic_eq </md-icon>&nbsp; Analytics</li></a>
  <a routerLinkActive="active" routerLink="users"><li class="list-item"> <md-icon> people</md-icon>&nbsp; Users</li></a>
  <a routerLinkActive="active" routerLink="posts"><li class="list-item"> <md-icon> view_list </md-icon>&nbsp; Posts</li></a>
  <a routerLinkActive="active" routerLink="events"><li class="list-item"><md-icon> event_note </md-icon>&nbsp; Events</li></a>
  <a routerLinkActive="active" routerLink="feedback"><li class="list-item"><md-icon> refresh </md-icon>&nbsp; Feedback</li></a>
  <a routerLinkActive="active" routerLink="profile"><li class="list-item"><md-icon> info </md-icon>&nbsp; Profile</li></a>
</div>
