.admin-nav-link{
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;

    li{
        list-style: none;
        padding: 10px;
        border-bottom: 1px dashed lightgray;
        
    }
}