<div class="wrapper">
  <div id="home">
    <section class="home-header">
      <div class="itg-home">
        <img src="https://images.pexels.com/photos/57825/pexels-photo-57825.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" >
        <div class="home-main-heading">
          <h1>Welcome to ITGLANCE Network</h1>
          <p>Learn, grow and share your ideas, knowledge and skills ......</p>
        </div>
      </div>
    </section>

    <section class="">
      <div class="home-body col-lg-9" >
          <!--projects section-->
        <section class="home-adds container-fluid" >
            <div class="home-heading">
              <h3><md-icon>store</md-icon>Trending</h3>
            </div>
            <div class="adds">
              <md-card>
                  <img md-card-image src="../../../assets/img/pic1.jpg">
                  <md-card-content>
                      <md-card-title>Mobile App Dev</md-card-title>
                      <md-card-subtitle>Something related to this event</md-card-subtitle>
                      <md-card-actions>
                          <button md-raised-button color="warn">Read More</button>
                      </md-card-actions>
                  </md-card-content>
              </md-card>
              <md-card>
                  <img md-card-image src="../../../assets/img/pic3.jpg">
                  <md-card-content>
                      <md-card-title>Clinic</md-card-title>
                      <md-card-subtitle>Something related to this project</md-card-subtitle>
                      <md-card-actions>
                          <button md-raised-button color="warn">Read More</button>
                      </md-card-actions>
                  </md-card-content>
              </md-card>
              <md-card>
                  <img md-card-image src="../../../assets/img/pic4.jpg">
                  <md-card-content>
                      <md-card-title>Forum</md-card-title>
                      <md-card-subtitle>Something related to this project</md-card-subtitle>
                      <md-card-actions>
                          <button md-raised-button color="warn">Read More</button>
                      </md-card-actions>
                  </md-card-content>
              </md-card>
            </div>
        </section>

          <!--members section-->
        <section class="home-members container-fluid" >
            <div class="home-heading">
              <h3><md-icon>people</md-icon>Members</h3>
            </div>
            <div class="home-members-container" >
                <div class="home-profile" *ngFor="let member of members | slice:0:16">
                    <a routerLink="/profile/{{member.id}}"><img mdTooltip="{{member.fname}}" src="{{profile_img}}/{{member.profile_image}}"></a>
                    <div class="home-profile-details">
                        <h4>Name name</h4>
                        <span>Some Details</span>
                    </div>
                </div>
            </div>
        </section>
      </div>
      <!--forum section-->
      <aside class="home-forum col-lg-3" >
          <div class="home-heading">
            <h3><md-icon>today</md-icon>Recent</h3>
          </div>
          <div class="home-forum-container">
            <ng-container *ngFor="let forum of forums | slice:0:7">
              <div class="home-forum-block">
                <a routerLink="/profile/{{forum.user_id}}"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/rogie/128.jpg"></a>
                  <div class="home-forum-details">
                    <a routerLink="/profile/{{forum.user_id}}"><span>{{forum.fname}} {{forum.mname}} {{forum.lname}}</span></a>
                    <a routerLink="/dashboard/forum-detail/{{ forum.post_id}}/{{ forum.post_title }}"><p>{{forum.post_title}}</p></a>
                    <p class="text-truncate">{{forum.post_body}}</p>
                  </div>
              </div>
            </ng-container>
          </div>
      </aside>
    </section>
  </div>
<itg-footer class="col-lg-12"></itg-footer>
</div>
