@import "./../../../app.component.scss";

#home {
  .home-body {
    padding: 0;
  }
  .col-lg-12 {
    padding: 0;
  }
  .home-heading {
    padding: 0 30px;
    md-icon.material-icons {
      height: 100%;
      width: auto;
      font-size: 40px;
      margin-right: 15px;
      position: relative;
      top: 5px;
    }
  }

  .home-header {
    width: 100%;
    position: relative;
    background: #5bc0de;
    box-sizing: border-box;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-shadow: 0 0 10px #5F5F5F;

    .itg-home {
      .home-main-heading {
        position: absolute;
        color: #fff;
        top: 50%;
        left: 5%;
        p {
          font-size: 24px;
        }
      }

      img {
        width: 100%;
        position: relative;
        opacity: .5;
        filter: blur(2px);
      }
    }
  }

  .home-adds {
    padding: 50px 20px;
    margin: 0;
    .adds {
      margin-top: 40px;
      padding: 0 20px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
    md-card {
      width: 300px;
      display: inline-block;
      margin: 10px 5px;
      min-height: 375px;

      img {
        height: 200px;
      }

      md-card-content {
        md-card-title,
        md-card-subtitle {
          margin: 0;
          button {
          }
        }
        md-card-title {
          font-size: 18px;
        }
        md-card-actions {
          text-align: center;
          padding: 15px 0;
        }
      }
    }
  }

  .home-members {
    padding: 50px 20px;

    .home-members-container {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .home-profile {
        padding: 20px 5px;
        width: 11%;
        margin: 0 .5%;
        img {
          width: 100%;
          border-radius: 50%;
          margin-bottom: 5px;
          box-shadow: 2px 2px 6px 1px #bbbbbb;
        }
        .home-profile-details {
          display: none;
          text-align: center;
        }
      }
    }
  }

  .home-forum {
    padding: 50px 0;
    margin: 0;

    .home-heading {
      text-align: left;
      padding: 0 15px;
    }
    .home-forum-container {
      padding: 0 10px;
      height: 100%;
      margin: 49px 0 0 0;

      .home-forum-block {
        margin: 10px 0;
        padding: 3px 5px;

        img {
          width: 40px;
          border-radius: 50%;
          position: absolute;
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
        }
        .home-forum-details {
          display: inline-block;
          background: #fff;
          width: 80%;
          max-height: 150px;
          position: relative;
          left: 45px;
          border-radius: 5px 15px 15px 15px;
          padding: 5px 10px;
          margin-left: 4px;
          box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.2);
          border: 1px solid #d9d9d9;

          a {
            span {
              color: $green;
              font-size: 16px;
              transition: all .3s ease;
            }
            &:hover {
              span{
                padding-left: 5px;
              }
            }
          }
          a {
            p {
              color: gray;
              font-size: 12px;
              margin-bottom: 5px;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          p {
            font-size: 12px;
            color: #bbb;
          }
        }
      }
    }
  }
}

itg-footer.col-lg-12 {
  padding: 0;
}

@media (max-width: 992px) {
  #home {
    .home-header {
      .itg-home {
        img {
          width: auto;
        }
      }
    }

    aside.home-forum {
      padding: 30px 30px 50px 30px;
      .home-forum-container {
        .home-forum-block {
          margin-bottom: 15px;
          img {
          }
          .home-forum-details {
            width: 92%;
            span {
            }
            p {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  #home {
    .home-adds {
      .adds {
        margin-top: 40px;
        flex-wrap: wrap;
      }
    }
    .home-members {
      .home-members-container {
        .home-profile {
          width: 15% !important;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  #home {
    .home-header {
      .itg-home {
        .home-main-heading {
          h1 {
            font-weight: 400;
            font-size: 40px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
    .home-members {
      .home-members-container {
        .home-profile {
          width: 24% !important;
        }
      }
    }
    aside.home-forum {
      .home-forum-container {
        .home-forum-block {
          .home-forum-details {
            width: 80%;
          }
        }
      }
    }
  }
}
