<md-card>
<div class="forum-detail-wrapper">
  <div *ngIf="resposts">
    <div class="row forum-question-header">
      <div class="col-md-2">
        <span mdTooltip="Go to Profile of {{ resposts[0].email }}">
          <a routerLink="/profile/{{resposts[0].user_id}}" class="media-left waves-light image-hover-effect">
            <img class="rounded-circle z-depth-1-half" src="{{resposts[0].profile_imagelink}}/{{ resposts[0].profile_image }}" alt="Generic placeholder image" width="80px" height="80px">
          </a>
        </span>
      </div>
      <div class="col-md-10">
        <h4 class="media-heading forum-question-title">
        <span mdTooltip="{{ resposts[0].post_title }}"> {{ resposts[0].post_title }}</span>
        <span mdTooltip="Category {{ resposts[0].category }}">
          <a routerLink="/dashboard/forum/category/{{ resposts[0].cat_id }}/{{resposts[0].category}}">
              <md-chip color="accent" selected="true">{{ resposts[0].category }}</md-chip>
          </a>
        </span>
        </h4>
        <p>PUBLISHED <span class="forum-posted-time">{{ resposts[0].postedtime }}</span> BY <span class="forum-posted-user" mdTooltip="{{ resposts[0].email }}"> {{ resposts[0].email }} </span></p>
        <hr>
      </div>
    </div>
    <div class="row forum-detail-body">
      <div class="col-md-12">
        <p> {{ resposts[0].post_body }}</p>
        <pre style="background-color: gray; color: white; padding: 20px ">
          <code [innerHtml]="code">
          </code>
        </pre>
      </div>
    </div>
  </div>

  <div *ngIf="resposts?.length < 0">
    <h1> Sorry !!! there is no data you wanted to see </h1>
    <img md-card-image src="../../../../assets/img/nofound.jpg">
  </div>
</div>
</md-card>

<div style=" margin-bottom: 20px;"></div>

<div  class="comment-wrapper">
  <ng-container *ngIf="userData" >
    <h3>
      <md-icon class="comment_icon">forum</md-icon>
      Post Your Comment Here
    </h3>
    <div class="form-wrapper ">
    <form [formGroup]="commentForumForm" (ngSubmit)="postForumComment(commentForumForm)" novalidate>
      <!--<div class="row">-->
      <div class="col-md-12">
          <div class="form-group">
            <md-input-container>
              <input mdInput  placeholder="Comment Heading" formControlName="comment_title">
            </md-input-container>
          </div>
      </div>
      <!--</div>-->

      <!--<div class="row">-->
        <div class="col-md-12">
          <div class="form-group">
            <md-input-container>
              <textarea mdInput  placeholder="Detail comment" formControlName="comment_body"></textarea>
            </md-input-container>
          </div>
        </div>
      <!--</div>-->
      <button [disabled]="commentForumForm.invalid" md-raised-button color="accent" type="submit">Comment</button>
    </form>
  <!--</div>-->
</div>
  </ng-container>
  <h3><strong>Latest Comments</strong><md-chip-list class="pull-right"><md-chip color="accent" selected="true"> #Comment Received: {{ countComment }}</md-chip></md-chip-list></h3>
  <ng-container *ngIf="rescomments">
    <div class=" row comment-list-block" *ngFor="let comments of rescomments">
      <!--<div class="row">-->
      <div class="col-md-2">
          <a routerLink="/profile/{{comments.commented_userid}}" class="media-left waves-light image-hover-effect user-image">
              <img class="rounded-circle" src="{{comments.profile_imagelink}}/{{ comments.profile_image }}" alt="Generic placeholder image" width="70px" height="70px">
          </a>
      </div>
      <div class="col-md-10 comment-heading">
          <h4><strong>{{ comments.comment_title }}</strong></h4>
          <p><span class="commented-user">Comment by: </span>
              <a routerLink="/profile/{{comments.user_id}}">{{ comments.email}}</a> | {{ comments.postedtime }}
          </p>
      </div>
      <!--</div>-->
        <div class="col-md-12">
          <!--<p>Comment-by: {{ comments.username}} | {{ comments.postedtime }}</p>-->
          <hr>
          <code>
              {{ comments.comment}}
          </code>
          <hr>
          <md-chip-list>
            <md-chip color="primary" selected="true">Solved</md-chip>
            <md-chip color="danger" selected="false">Didn't Work for me</md-chip>
          </md-chip-list>
        </div>
    </div>
  </ng-container>
  <!--if there is no any comments then this code will execute-->
  <div *ngIf="rescomments?.length == 0">
    Be the First to Comment..
  </div>
</div>
