.forum-detail-wrapper{

    .forum-question-header{
        padding:10px 0px;
        
        .forum-question-title{
            color: #808080;
            font-weight: bold;
            font-size: 22px;
        }

        p{
            // font-weight: bold;
            color: #707070;

            .forum-posted-time{
                color: #33b5e5;
                text-decoration: underline;
                font-size: 14px;
                font-weight: bold;
            }

            .forum-posted-user{
                color: #009688;
                font-weight: bold;

                :hover {
                    color: #33b5e5;
                }
            }
        }
    }

    .forum-detail-body{
        color: #616161;
        overflow: hidden;
        
    }
}

.comment-wrapper{
    background-color: #fff;
    padding:20px 30px;  

    h3{
        color: #808080;
        font-weight: bold;
        font-size: 21px;
        padding-bottom: 10px;

        md-icon{
            color: #009688
        }
    }

    .form-wrapper{
        padding:20px 10px 10px 10px;
        border: 2px solid accent;
        background-color: #fff;
        margin-bottom: 30px;
        border: 1px solid #009688;

        button{
            margin: 0 auto;
        }
    }
    // .comment-wrapper{
    //     padding: 20px;
    // }
    .comment-list-block{
        margin-bottom: 20px;
        // border: 2px solid #ebebeb;
        padding: 20px 10px;
        background-color: #fff;
        box-shadow: 2px 2px 6px 1px #bbbbbb;
        border-radius: 1%;

        .user-image{

            img{
                box-shadow: 2px 2px 6px 1px #bbbbbb;
            }
        }

        .comment-heading{

            h4{
                font-weight: bold;
                color: #009688;
            }

            .commented-user{
                font-weight: bold;
                color: #616161;
            }
        }
    }
}