<div class="members-wrapper">
  <!--search-box-->
  <md-card class="search-box">
    <div class="search-container">
      <div>
        <md-icon>search</md-icon>
        <input class="search" placeholder="Search..." [(ngModel)]="username" name="username" (keyup)="searchMembers()">
      </div>
    </div>
  </md-card>
  <div class="members">
    <div class="member-list">
      <ng-container *ngIf="!allmembers && !username">
        <div class="custom-loading" [@loadingAnim]="!allmembers">
          <h4>Retrieving Information...</h4>
          <!--<md-spinner color="accent" class="loading-spinner"></md-spinner>-->
        </div>
      </ng-container>
      <ng-container *ngIf="!allmembers && username">
        <div class="no-result">
          <span class="no-result-face">
            <span class="no-result-eyes"></span>
            <span class="no-result-eyes"></span>
            <span class="no-result-mouth"></span>
          </span>
          <h3>Sorry!! No Result Found</h3>
        </div>
      </ng-container>
      <div *ngIf="allmembers" class="members-only" @sectionAnim>
        <h3>Members</h3>
        <section *ngFor="let member of allmembers" class="member-block">
          <div class="profile-image">
            <div class="hovereffect">
              <a routerLink="/profile/{{member.id}}"><img class="" src="{{profile_img}}/{{member.profile_image}}"></a>
              <div class="overlay">
                <a routerLink="/profile/{{member.id}}"><h2>{{member.fname}} {{member.mname}} {{member.lname}}</h2></a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
<itg-footer></itg-footer>
</div>
