<ng-container *ngIf="!allInfo">
  <div class="custom-loading" [@loadingAnim]="!allInfo">
    <h4>Retrieving Information...</h4>
    <!--<md-spinner color="accent" class="loading-spinner"></md-spinner>-->
  </div>
</ng-container>
<ng-container *ngIf="allInfo">
  <div *ngFor="let profile of profileRes" class="personal-details" [@slide]="allInfo">
    <div class="container-fluid">
      <div>
        <!--personal information-->
        <section class="row">
          <div class="col-md-12">
            <h4>
              <i class="fa fa-user" aria-hidden="true"></i>
              Personal Information
              <!--button ma function bata navigate garne-->
              <button *ngIf="id == userId" (click)="onNavigate(id)"
                      class="btn float-xs-right custom-edit-btn"><i class="fa fa-pencil"></i>Edit
              </button>
            </h4>
            <div class="personal-info">
              <div class="personal-details1">
                <dl>
                  <dt>Name</dt>
                  <dd [ngStyle]="{'text-transform': 'capitalize'}">{{profile.fname}}{{profile.mname}}{{profile.lname}}
                  </dd>
                  <dt>Username</dt>
                  <dd>{{profile.username}}</dd>
                  <dt>Email</dt>
                  <dd>{{profile.email}}</dd>
                  <dt *ngIf="profile.dob && profile.local_address">DOB</dt>
                  <dd *ngIf="profile.dob && profile.local_address">{{profile.dob}}</dd>
                </dl>
              </div>
              <div class="personal-details2">
                <dl>
                  <dt>Mobile No.</dt>
                  <dd>{{profile.mobile_no}}</dd>
                  <dt>Status</dt>
                  <dd>{{profile.status}}</dd>
                  <dt>User type</dt>
                  <dd>{{profile.user_type}}</dd>
                  <dt *ngIf="profile.local_address && profile.dob">Address</dt>
                  <dd *ngIf="profile.local_address && profile.dob">{{profile.local_address}}</dd>
                </dl>
              </div>
            </div>
          </div>
        </section>

        <!--experience information-->
        <section class="row">
          <div class="col-md-12">
            <h4><i class="fa fa-trophy"></i>Experiences</h4>
            <a class="edit-icon" *ngIf="id == userId" (click)="onNavigate(id)" mdTooltip="Edit Experience">
              <md-icon>edit</md-icon>
            </a>
            <ng-container *ngIf="experienceRes">
              <hr>
              <ng-container *ngFor="let exp of experienceRes">
                <div class="experience-info">
                  <i class="fa fa-chevron-right"></i>
                  <div class="experience-details">
                    <span class="title">{{exp.title}}</span>
                    <span class="sub-title1">{{exp.company_name}}</span>
                    <span class="sub-title2">{{exp.location}}</span>
                    <span class="seemore">
                      <span class="sub-title2">{{exp.description}}</span>
                    </span>
                  </div>
                  <!--<a class="edit-icon" mdTooltip="More..." (click)="showMore($event)">-->
                  <!--<md-icon>more_vert</md-icon>-->
                  <!--</a>-->
                </div>
                <hr>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!experienceRes">
              <hr>
              <div class="no-content" *ngIf="userId === id">
                <h5>Please add your experiences
                  <md-icon>work</md-icon>
                </h5>
              </div>
              <div class="no-content" *ngIf="userId !== id">
                <h5>This user has not added any experiences
                  <md-icon>work</md-icon>
                </h5>
              </div>
            </ng-container>
          </div>
        </section>

        <!--educational information-->
        <section class="row">
          <div class="col-md-12">
            <h4><i class="fa fa-graduation-cap" aria-hidden="true"></i>Education</h4>
            <a class="edit-icon" *ngIf="id == userId" (click)="onNavigate(id)" mdTooltip="Edit Education">
              <md-icon>edit</md-icon>
            </a>
            <ng-container *ngIf="educationRes">
              <hr>
              <ng-container *ngFor="let edu of educationRes">
                <div class="academic-info">
                  <i class="fa fa-check-circle"></i>
                  <div class="academic-details">
                    <span class="title">{{edu.institution}}</span>
                    <span class="sub-title1">{{edu.degree_level}}</span>
                    <span class="sub-title2">{{edu.major_study_area}}</span>
                    <ng-container class="seemore">
                      <span class="sub-title2">{{edu.description}}</span>
                    </ng-container>
                  </div>
                  <!--<a class="edit-icon" (click)="" mdTooltip="More..."><md-icon>more_vert</md-icon></a>-->
                </div>
                <hr>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!educationRes">
              <hr>
              <div class="no-content" *ngIf="userId === id">
                <h5>Please add your Academic Information
                  <md-icon>school</md-icon>
                </h5>
              </div>
              <div class="no-content" *ngIf="userId !== id">
                <h5>The user has not added any Academic Information
                  <md-icon>school</md-icon>
                </h5>
              </div>
            </ng-container>
          </div>
        </section>

        <!--skills information-->
        <section class="row">
          <div class="col-md-12">
            <h4><i class="fa fa-cubes" aria-hidden="true"></i>Skills</h4>
            <a class="edit-icon" *ngIf="id == userId" (click)="onNavigate(id)" mdTooltip="Edit Skills">
              <md-icon>edit</md-icon>
            </a>
            <div class="skills-info">
              <hr>
              <md-chip-list>
                <ng-container *ngIf="skillsRes">
                  <ng-container *ngFor="let skill of skillsRes">
                    <md-chip class="skill-chip">{{skill.skills}}</md-chip>
                  </ng-container>
                  <!--<a class="edit-icon" (click)=""  mdTooltip="More..." [ngStyle]="{'right': '15px'}"><md-icon>more_vert</md-icon></a>-->
                </ng-container>
              </md-chip-list>
              <ng-container *ngIf="!skillsRes">
                <div class="no-content" *ngIf="userId === id">
                  <h5>Please add your Skills
                    <md-icon>layers</md-icon>
                  </h5>
                </div>
                <div class="no-content" *ngIf="userId !== id">
                  <h5>The user has not added any Skills
                    <md-icon>layers</md-icon>
                  </h5>
                </div>
              </ng-container>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</ng-container>
