.personal-details{
  color: #454545;

  h4{
    margin-bottom: 20px;
    font-weight: 300;
    color: #03a9f4;
    i{
      font-size: 20px;
      padding-right: 12px;
    }
    .custom-edit-btn{
      margin-top: 0;
      font-size: 12px;
      padding: 5px 8px 5px 8px;
      text-transform: none;
      border: none;
      border-radius: 2px;
      background: #e64a19;
      color: #fff;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14);
      &:hover, &:active{
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 5px 0 rgba(0, 0, 0, 0.15);
      }
      i{
        font-size: 12px;
        padding-right: 4px;
        margin-left: 5px;
      }
    }
  }
  @media (max-width: 850px) {
    h4{
      font-size: 18px;
      i{
        font-size: 18px;  //smaller font size for button display
      }
    }
  }

  @media (max-width: 400px){
    .personal-details {
      h4 {
        .custom-edit-btn {
          margin-top: 20px;
        }
      }
    }
  }

  .no-content{
    padding:10px 0;
    md-icon.material-icons{
      position: relative;
      margin-left: 20px;
      top: 5px;
    }
  }

  section.row{
    margin-bottom: 40px;
  }

  a.edit-icon{
    position: absolute;
    top: -3px;
    right: 15px;
    height: 32px;
    width: 32px;
    color:#5F5F5F;
    border-radius: 50%;
    cursor: pointer;
    md-icon.material-icons{
      height: 100%;
      padding: 3px;
      width: 100%;
    }
  }

  //personal info section
  .personal-info{
    display: flex;
    //flex-wrap: wrap;
    dl{
      font-size: 16px;
      line-height:40px;
      margin:0;
      dt{
        float: left;
        width: 30%;
        min-width:100px;
        color: #595959;
      }
      dd{
        color: #454545;
        margin-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width:50%;
      }
    }

    .personal-details1,
    .personal-details2{
      width:50%;
      height:auto;
    }
  }

  @media (max-width: 700px) {
    .personal-info{
      display: block;
      .personal-details1,
      .personal-details2{
        width: 100%;
        margin:0;
        padding:0;
        dl{
          margin: 0;
        }
      }
    }
  }

  @media (max-width: 470px) {
    .personal-info{
      dl{
        line-height:30px;
        dt,dd{
          font-size: 14px;
        }
        dt{
          min-width:80px;
        }
        dd{
          padding: 0;
          margin-right: 0;
        }
      }
    }
  }

  //experience info section
  .experience-info{
    margin-bottom: 10px;
    position: relative;
    i{
      position: absolute;
      margin-top: 4px;
      margin-left: 5px;
    }
    .experience-details{
      position: relative;
      margin-left: 32px;
      span {
        display: block;
      }
      .title {
        font-size: 16px;
      }
      .sub-title1 {
        font-size: 14px;
        color: #454545;
        font-weight: 500;
      }
      .sub-title2 {
        color: #757575;
        font-size: 14px;
      }
    }
  }

  //education info section
  .academic-info{
    margin-bottom: 10px;
    position: relative;
    i{
      position: absolute;
      margin-top: 4px;
      margin-left: 5px;
    }
    .academic-details{
      position: relative;
      margin-left: 38px;
      span {
        display: block;
      }
      .title {
        font-size: 16px;
      }
      .sub-title1 {
        font-size: 14px;
      }
      .sub-title2 {
        color: #bbbbbb;
        font-size: 14px;
      }
    }
  }

  //skills info section
  .skills-info{
    .skill-chip{
      margin: 0 5px 5px 0;
    }
  }
}
