<md-card class="feedback-wrapper">
<div class="activities-detail">
  <div class="container-fluid">
      <h4>
        <md-icon>public</md-icon>
        Recent Feedbacks of users about application &nbsp
        <md-chip-list class="pull-right">
          <md-chip> #Feedbacks Received: {{ countfeedback }}</md-chip>
        </md-chip-list>
      </h4>

<div *ngIf="feedbacks">
  <section *ngFor="let feedback of feedbacks">
    <div class="activities-item">

        <div class="activities-inner">
          <div class="inner-details">
            <div class="activity-title">
                <span>{{ feedback.title }}</span>
                <button class="btn btn-sm btn-primary pull-right">Change status</button>
            </div>
            <div class="activity-subtitle">
              <span>{{ feedback.postedtime }} | </span>
              <strong>Reviewed By-</strong><span> {{feedback.username}}</span>
            </div>
            <div class="subtitle-category">
              <span class="tag tag-danger">{{feedback.status}}</span>
            </div>
            <div class="activity-body">
              <span>{{ feedback.body}}</span>
            </div>
          </div>
        </div>

    </div>
  </section>
</div>
    <!--<section>
    <div class="activities-item">
      <div class="activities-inner">
          <div class="inner-details">
              <div class="activity-title">
                  <span>How to break line in css without break(br) tag</span>
              </div>
              <div class="activity-subtitle">
                  <span>15 days ago</span>
                  <span>- You</span>
              </div>
              <div class="subtitle-category">
                  <span class="tag tag-default">HTML/CSS</span>
              </div>
              <div class="activity-body">
                  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis consectetur earum expedita harum,
                    hic labore maiores minima mollitia, odit perspiciatis rerum sapiente soluta suscipit, tempora ullam ut veniam vero?</span>
              </div>
          </div>
      </div>
    </div>
    </section>

    <section>
          <div class="activities-item">
              <div class="activities-inner">
                  <div class="inner-details">
                      <div class="activity-title">
                          <span>How to break line in css without break(br) tag</span>
                      </div>
                      <div class="activity-subtitle">
                          <span>15 days ago</span>
                          <span>- You</span>
                      </div>
                      <div class="subtitle-category">
                          <span class="tag tag-danger">HTML/CSS</span>
                      </div>
                      <div class="activity-body">
                          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis consectetur earum expedita harum,
                            hic labore maiores minima mollitia, odit perspiciatis rerum sapiente soluta suscipit, tempora ullam ut veniam vero?</span>
                      </div>
                  </div>
              </div>
          </div>
      </section>-->
  </div>
</div>
</md-card>
