<a *ngIf="isLoggedIn" class="btn btn-custom waves-effect bg-info create-forum-post" [routerLink]="'forum-post'">Create Your Question</a>
<a *ngIf="!isLoggedIn" class="btn btn-custom waves-effect bg-info create-forum-post" [routerLink]="'/register'">Submit Your Application</a>
<section class="forum-filter-wrapper">
  <ul class="forum-filter-list-change">
    <h3 class="filter-heading">Choose filtering option</h3>
    <li><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;All</a></li>
    <li><i class="fa fa-fire" aria-hidden="true"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;Popular All time</a>
    </li>
    <li><i class="fa fa-fire" aria-hidden="true"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;Popular this week</a>
    </li>
    <li><i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;My
      Questions</a></li>
    <li><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;Answered
      Question</a></li>
    <li><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;Unanswered
      Question</a></li>
    <li><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<a href="#" class="filter-list"> &nbsp;Latest Question</a>
    </li>
  </ul>

  <!--set categories here for filtering forum -->
  <ul class="forum-filter-list-change category-filter-listing">
    <h3 class="filter-heading">Choose category</h3>
    <div *ngIf="rescategories">
      <div *ngFor="let category of rescategories">
        <li>
          <i class="fa fa-square" aria-hidden="true" style="color:{{ category.category_color}}"></i>&nbsp;
          <a routerLink="forum/category/{{ category.id }}/{{category.category}}" class="filter-list"> &nbsp;
            {{ category.category}}
          </a>
        </li>
      </div>
    </div>
  </ul>
</section>

