<div class="" style="margin-top: 20px;">
  <h2>List of Unverified Forum Posts</h2>
</div>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>S.NO</th>
    <th>Post Title</th>
    <th>Post Body</th>
    <th>Post Category</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody *ngIf="resPosts">
  <tr *ngFor="let post of resPosts">
    <td>{{ post.post_id }}</td>
    <td>{{ post.post_title }}</td>
    <td>{{ post.post_body }}</td>
    <td>PHP {{ post.category_id }}</td>
    <td>
      <md-chip-list>
        <md-chip *ngIf="!isActive" color="warn" selected="true">Inactive</md-chip>
        <md-chip *ngIf="isActive" color="primary" selected="true">Active</md-chip>
      </md-chip-list></td>
    <td>
      <md-slide-toggle (click)="verifyPost(post.post_id)" >{{post.post_id}} Approve User</md-slide-toggle>
    </td>
  </tr>
  </tbody>
</table>
