//variables
$green: #009688;

.itg-route-progress-bar{
  display: block;
  position: fixed;
  top:0;
  z-index: 1004;

  md-progress-bar{
    position: fixed;
    height: .2em;
  }
}

router-outlet {
  display: block;
  margin-top: 60px;
}

