.admin-wrapper{
    background-color: #fff;
    margin: none;
    padding: 10px;

    .admin-header{
        background-color: #2196F3;
        padding: 20px;
        font-weight: bold;
        color:#fff;
        font-family: 'futura';
        text-align: center;
    }

    .admin-body{
        background-color: #fff;

        
    }
}