<div class="admin-wrapper"> 
    <div class="admin-header">
        <h2>Hello Admin</h2>
    </div>
        <div class="admin-body">
           
            <div class="col-md-3 col-sm-12">
               <admin-navigation></admin-navigation>
            </div>

            <div class="col-md-9 col-sm-12">
                <router-outlet></router-outlet>
            </div> 
    </div>
</div>
