
<div class="main-userlist-wrapper">
    <h3>Lis of users</h3>
    <div *ngIf="resUsers">

    <md-card *ngFor="let user of resUsers" class="my-card col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="card hovercard">
            <div class="cardheader">    

            </div>
            <div class="avatar">
                <img alt="" src="https://theworkmob.com/static/img/flat/flat-icious/User@2x.png" height="140px" width="140px">
            </div>
            <div class="info">
                <div class="title">
                    <a target="_blank" href="">{{ user.email }}</a>
                </div>
            </div>
           <div class="bottom">
                <md-chip-list>
                    <md-chip *ngIf="!isActive" color="warn" selected="true">Inactive</md-chip>
                    <md-chip *ngIf="isActive" color="primary" selected="true">Active</md-chip>
                </md-chip-list>
                <md-slide-toggle class="pull-right" (click)="verifyUser(user.user_id)">Approve User</md-slide-toggle>
                <a (click)="myUserDetail.open()" class="floating-button" color="primary" md-fab><md-icon>remove_red_eye</md-icon></a>
           </div>
        </div>
    </md-card>
</div>
</div>

 <!--modal box to show the detail data here-->

<modal #myUserDetail>

    <modal-header>
        <h2> user ko email </h2>
    </modal-header>
    <modal-content>
        <div class="avatar">
                <img alt="" src="https://theworkmob.com/static/img/flat/flat-icious/User@2x.png"  height="140px" width="140px">
            </div>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Repellendus, expedita iste assumenda rerum nihil perferendis. 
            Hic aspernatur, officia deleniti reiciendis ea natus atque 
            impedit dolore id, officiis fugiat recusandae dolor!
        </p>
    </modal-content>

</modal>

 <!--end of modal box-->
 
 <!--<div class="" style="margin-top: 20px;">
    <h2>List of Unverified users</h2>
 </div>-->
 <!--<table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>Email</th>
                        <th>Course</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="resUsers">
                        <tr *ngFor="let user of resUsers">
                            <td>{{ user.user_id }}</td>
                            <td>{{ user.email }}</td>
                            <td>PHP</td>
                            <td> 
                                <md-chip-list>
                                    <md-chip *ngIf="!isActive" color="warn" selected="true">Inactive</md-chip>
                                    <md-chip *ngIf="isActive" color="primary" selected="true">Active</md-chip>
                                </md-chip-list></td>
                            <td>
                                <md-slide-toggle (click)="verifyUser(user.user_id)" >{{user.user_id}} Approve User</md-slide-toggle>
                            </td>
                        </tr>
                </tbody>
            </table>-->
<!--</div>-->