<div class="manage-event-wrapper">
  <md-card>
    <div class="event-listing">
      <div class="" style="padding: 20px; ">
        Upcoming Events
      </div>
      <hr>
      <div class="row projects">
        <div *ngIf="events">
          <div *ngFor="let event of events">
            <section class="col-md-4 col-sm-6 col-xs-12">
              <md-card class="event-card-wrapper">
                <!--<img md-card-avatar src="../../../../assets/img/emplettes.png">-->
                <!--<img md-card-image src="https://colorlib.com/wp/wp-content/uploads/sites/2/2013/10/ark-logo-design.png" height="100px">-->
                <div class="event-listing">
                  <img md-card-image src="{{event.event_image}}" height="200px">
                </div>

                <md-card-content>
                  <button class="pull-right" md-icon-button [mdMenuTriggerFor]="menu">
                    <md-icon  style="color: #2980b9">more_vert</md-icon>
                  </button>
                  <md-card-title>{{event.event_title}}</md-card-title>

                  <md-card-subtitle>{{event.event_description}}</md-card-subtitle>
                  <md-icon  style="color: #2980b9">perm_identity</md-icon>&nbsp;posted by: {{ event.username}}

                  <p><md-icon style="color: #2980b9">place</md-icon>&nbsp;Location: {{ event.event_location }}</p>
                  <md-menu class="sidebutton" #menu="mdMenu">
                    <a routerLink = "event-detail/{{event.event_id}}">
                      <button md-menu-item>
                        <md-icon  style="color: #2980b9">remove_red_eye</md-icon>
                        <span>View Event</span>
                      </button>
                    </a>
                    <button md-menu-item disabled>
                      <md-icon  style="color: #2980b9">create</md-icon>
                      <span>Edit</span>
                    </button>
                    <button md-menu-item>
                      <md-icon  style="color: #2980b9">delete</md-icon>
                      <span>Delete Event</span>
                    </button>
                  </md-menu>

                </md-card-content>
              </md-card>
            </section>

          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <!--example for modal box-->
      <!--<button class="btn btn-primary" (click)="myModal.open()">open my modal</button>-->
      <modal #myModal >
        <modal-header class="main-modal-header">
          <h3>Create New Event</h3>
        </modal-header>
        <modal-content class="main-modal-content">
          <!--<div class="col-sm-3">
              <img class="img-thumbnail" src="https://cdn0.iconfinder.com/data/icons/iconshock_guys/512/andrew.png" />
          </div>-->
          <div class="event-post-form">
            <div class="form-wrapper">
              <form [formGroup]="eventForm" (ngSubmit)="createNewEvent(eventForm)" novalidate>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input mdInput placeholder=" Event Title" class="form-control" type="text"
                              formControlName="event_title">
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea mdInput  placeholder="Event Description" formControlName="event_description"></textarea>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input mdInput placeholder=" Event Location" class="form-control" type="text"
                              formControlName="event_location">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input mdInput placeholder=" Event Image" class="form-control" type="text"
                              formControlName="event_image">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input mdInput placeholder=" Starting date time" class="form-control" type="text"
                              formControlName="start_datetime">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input mdInput placeholder=" Ending Date time" class="form-control" type="text"
                              formControlName="end_datetime">
                    </div>
                  </div>
                </div>


                <button [disabled]="eventForm.invalid" class="btn btn-outline-info btn-rounded waves-effect" type="submit">Create Event</button>
              </form>
            </div>
            <hr>

            <!--<p>value : {{eventForm.value | json}}</p>-->
            <!--<p>status : {{eventForm.status | json}}</p>-->

          </div>


          <!--<div class="col-sm-9">
              Hello Sabin!! Modal is Working Fine Here :D
          </div>-->
          <div class="clearfix"></div>
        </modal-content>
        <modal-footer>
          <button class="btn btn-primary" (click)="myModal.close()">close</button>
        </modal-footer>
      </modal>
    </div>

    <a (click)="myModal.open()" class="floating-button" color="primary" md-fab><md-icon>add</md-icon></a>

    <!--<md-menu class="sidebutton" #floatButton="mdMenu">
        <a md-fab routerLink = ".">-->
    <!--<button md-menu-item>-->
    <!--<md-icon  style="color: #2980b9">remove_red_eye</md-icon>
    <span>View Event</span>-->
    <!--</button>-->
    <!--</a>
    <a md-fab>
        <button md-fab md-menu-item disabled>
            <md-icon  style="color: #2980b9">create</md-icon>
            <span>Edit</span>
        </button>
    </a>
    <a md-fab>
        <button md-fab md-menu-item>
            <md-icon  style="color: #2980b9">delete</md-icon>
            <span>Delete Event</span>
        </button>
    </a>-->
    <!--</md-menu>-->

  </md-card>

  <!--<md-card>
      <div class="event-post-form">
          <div class="form-wrapper">
              <form [formGroup]="eventForm" (ngSubmit)="createNewEvent(eventForm)" novalidate>
                  <div class="row">
                      <div class="col-md-12">
                      <div class="form-group">
                          <input mdInput placeholder=" Event Title" class="form-control" type="text"
                           formControlName="event_title">
                      </div>
                      </div>
                  </div>


                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                          <textarea mdInput  placeholder="Event Description" formControlName="event_description"></textarea>
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-12">
                      <div class="form-group">
                          <input mdInput placeholder=" Event Location" class="form-control" type="text"
                           formControlName="event_location">
                      </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-12">
                      <div class="form-group">
                          <input mdInput placeholder=" Event Image" class="form-control" type="text"
                           formControlName="event_image">
                      </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-12">
                      <div class="form-group">
                          <input mdInput placeholder=" Starting date time" class="form-control" type="text"
                           formControlName="start_datetime">
                      </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-12">
                      <div class="form-group">
                          <input mdInput placeholder=" Ending Date time" class="form-control" type="text"
                           formControlName="end_datetime">
                      </div>
                      </div>
                  </div>


                  <button [disabled]="eventForm.invalid" class="btn btn-outline-info btn-rounded waves-effect" type="submit">Create Event</button>
          </form>
          </div>

          <p>value : {{eventForm.value | json}}</p>
          <p>status : {{eventForm.status | json}}</p>

          </div>

  </md-card>-->

</div>
