.manage-event-wrapper{
    margin-top: 20px;
     .event-card-wrapper{
           margin-bottom: 30px;
    }
}
.event-listing{
    margin-bottom: 20px;
}

.floating-button{
    position: fixed;
    right: 10px;
    bottom: 10px;
    
}
.main-modal-header{
    padding: 10px;

    h3{
        font-weight: bold;
        color: gray;
        font-family: 'futura';
    }
}