md-input-container {
  width: 49%;
}

a.add-icon {
  position: absolute;
  top: 2px;
  right: 0;
  height: 40px;
  transition: all 0.3s ease;
  cursor: pointer;
  md-icon.material-icons {
    height: 100%;
    padding: 4px;
    width: 100%;
    font-size: 32px;
  }
}

a.add-icon.anim-icon {
  transition: all 0.3s ease;
  transform: scale(1.1) rotate(180deg);
  transform-origin: center center;
}

a.add-btn {
  @extend .add-icon;
  padding: 5px 15px;
  height: auto;
  top: 4px;
  right: 35px;
  color: #757575;
  transition: 0.3s ease;
}

.add-btn:hover {
  background: #f3f3f3;
  border-radius: 5px;
}

a.edit-icon {
  position: absolute;
  top: -3px;
  right: -5px;
  border-radius: 50%;
  color: #5f5f5f;
  display: none;
  md-icon.material-icons {
    height: 100%;
    padding: 3px;
    width: 100%;
    font-size: 16px;
  }
}

.no-content {
  md-icon.material-icons {
    position: relative;
    margin-left: 20px;
    top: 5px;
  }
}

.settings-details {
  .container-fluid {
    .col-md-3,
    .col-md-9 {
      padding: 0;
    }
  }
  h4 {
    margin-bottom: 20px;
    font-weight: 300;
    color: #03a9f4;
    md-icon.material-icons {
      font-size: 30px;
      position: relative;
      top: 5px;
      left: 0;
      height: 100%;
      margin-right: 10px;
      width: auto;
    }
  }
  @media (max-width: 850px) {
    h4 {
      font-size: 18px;
      i {
        font-size: 18px; //smaller font size for button display
      }
    }
  }

  .settings-nav {
    ul {
      li {
        padding: 5px 0 5px 0;
        a {
          color: #454545;
          font-weight: 500;
          transition: all 0.1s ease;
        }
        a:hover {
          color: #03a9f4;
          padding-left: 7px;
          border-left: 5px solid #454545;
        }
      }
    }
  }

  .settings-body {
    padding: 0 0 20px 30px;
    border-left: 2px solid #767676;

    #personal,
    #project,
    #exp-work,
    #education,
    #skills {
      padding: 10px 10px 30px 0;
      position: relative;
      background: inherit;
      h5 {
        margin-bottom: 30px;
        color: #009688;
      }
      button {
        margin: 0 0 15px 0;
        position: absolute;
        bottom: 0;
        right: 15px;
      }
      section {
        background: #fff;
      }
      form {
        padding-bottom: 50px;
        position: relative;
      }
    }

    #personal {
      padding-top: 0;
    }

    #exp-work {
      md-radio-group {
        padding: 20px 0;
        label {
          font-size: 1em;
          margin-right: 20px;
        }
        md-radio-button {
          padding: 0 20px;
        }
      }
      .experience-info {
        margin-bottom: 10px;
        position: relative;
        i {
          position: absolute;
          margin-top: 4px;
          margin-left: 5px;
        }
        .experience-details {
          position: relative;
          margin-left: 32px;
          span {
            display: block;
          }
          .title {
            font-size: 16px;
          }
          .sub-title1 {
            font-size: 14px;
          }
          .sub-title2 {
            color: #bbbbbb;
            font-size: 14px;
          }
        }
      }
      .experience-info:hover .edit-icon {
        display: block;
      }
    }

    #education {
      //education info section
      .academic-info {
        margin-bottom: 10px;
        position: relative;
        i {
          position: absolute;
          margin-top: 4px;
          margin-left: 5px;
        }
        .academic-details {
          position: relative;
          margin-left: 38px;
          span {
            display: block;
          }
          .title {
            font-size: 16px;
          }
          .sub-title1 {
            font-size: 14px;
          }
          .sub-title2 {
            color: #bbbbbb;
            font-size: 14px;
          }
        }
      }
      .academic-info:hover .edit-icon {
        display: block;
      }
    }

    #skills {
      .skill-chip {
        margin: 0 5px 5px 0;
      }
    }
  }

  @media (max-width: 768px) {
    .col-sm-12 {
      padding: 0;
      .container-fluid {
        padding: 0;
      }

    }
  }
}

@media (max-width: 680px) {
  md-input-container {
    width: 100%;
  }
}

@media (max-width: 560px) {
  a.add-btn {
    display: none;
  }
}


