<ng-container *ngIf="!allInfo">
  <div class="custom-loading" [@loadingAnim]="!allInfo">
    <h4>Retrieving Information...</h4>
    <!--<md-spinner color="accent" class="loading-spinner"></md-spinner>-->
  </div>
</ng-container>
<ng-container *ngIf="allInfo">
  <div *ngIf="userId == parentRouteId" class="settings-details" [@slide]="allInfo">
    <div class="container-fluid">
      <h4>
        <md-icon>account_circle</md-icon>
        About
      </h4>
      <div class="col-sm-12">
        <div>
          <div class="settings-body">
            <div *ngFor="let profile of profileRes" id="personal">
              <h5>Basic Information</h5>
              <md-input-container>
                <input mdInput placeholder="Username" type="text" value="{{profile.username}}">
              </md-input-container>
              <md-input-container>
                <input mdInput placeholder="Password" type="password">
              </md-input-container>
              <md-input-container>
                <input mdInput placeholder="Email" type="text" value="{{profile.email}}">
              </md-input-container>
              <md-input-container>
                <input mdInput placeholder="Mobile" type="text" value="{{profile.mobile_no}}">
              </md-input-container>
              <!--<button md-button color="accent"></button>-->
            </div>

            <!--<div *ngFor="let project of projectRes" >
                <h5>Project Information</h5>
              <md-input-container>
                <input mdInput placeholder="Username" type="text" value="{{project.project_title}}" >
              </md-input-container>
              <md-input-container>
                <input mdInput placeholder="Username" type="text" value="{{project.project_description}}" >
              </md-input-container>
            </div>-->

            <div id="exp-work">
              <h5>Experience Information</h5>
              <!--experience form-->
              <section *ngIf="expstatus === true" [@slider]="expstatus">
                <form [formGroup]="experienceForm" (ngSubmit)="onSubmitExp(experienceForm)">
                  <md-input-container>
                    <input mdInput formControlName="company_name" placeholder="Company Name">
                    <md-error>Company name is required</md-error>
                  </md-input-container>
                  <md-input-container>
                    <input mdInput formControlName="position" placeholder="Position">
                    <md-error>Position is required</md-error>
                  </md-input-container>
                  <md-input-container [ngStyle]="{width: '99%'}">
                    <input mdInput formControlName="company_location" placeholder="Location">
                    <md-error>Company location is required</md-error>
                  </md-input-container>
                  <div [ngStyle]="{padding: '10px 0'}">
                    <md-radio-group formControlName="working_status">
                      <label>Working Status :</label>
                      <md-radio-button value="1"> Working</md-radio-button>
                      <md-radio-button value="0"> Idle</md-radio-button>
                    </md-radio-group>
                  </div>
                  <md-input-container [ngStyle]="{width: '99%'}">
                    <textarea mdInput md-autosize minRows="1" formControlName="job_description"
                              placeholder="Job Description"></textarea>
                    <md-error>Job description is required</md-error>
                  </md-input-container>
                  <!--<md-input-container>-->
                  <!--<input mdInput formControleName="" placeholder="Date">-->
                  <!--</md-input-container>-->

                  <button md-raised-button *ngIf="isUpdatingExp" [disabled]="experienceForm.invalid" type="submit"
                          color="accent" [@slider]="expstatus">Update
                  </button>
                  <button md-raised-button *ngIf="!isUpdatingExp" [disabled]="experienceForm.invalid" type="submit"
                          color="accent">Save
                  </button>
                </form>
              </section>
              <a class="add-icon" [class.anim-icon]="expstatus" mdTooltip="Add Experiences" (click)="expEvent()">
                <md-icon>keyboard_arrow_down</md-icon>
              </a>
              <a class="add-btn" (click)="expEvent()">
                Add Experience
              </a>
              <!--experience display-->
              <section>
                <ng-container *ngIf="experienceRes">
                  <hr>
                  <ng-container *ngFor="let exp of experienceRes">
                    <div class="experience-info">
                      <i class="fa fa-chevron-right"></i>
                      <div class="experience-details">
                        <span class="title">{{exp.title}}</span>
                        <span class="sub-title1">{{exp.company_name}}</span>
                        <span class="sub-title2">{{exp.location}}</span>
                      </div>
                      <a class="edit-icon" (click)="showSpecificExperience(exp.user_id,exp.id)">
                        <md-icon>edit</md-icon>
                      </a>
                    </div>
                    <hr>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="!experienceRes">
                  <hr>
                  <div class="no-content">
                    <h5>Please add your experiences
                      <md-icon>work</md-icon>
                    </h5>
                  </div>
                </ng-container>
              </section>
            </div>

            <div id="education">
              <h5>Education Information</h5>
              <!--add education form-->
              <section *ngIf="edustatus === true" [@slider]="edustatus">
                <form [formGroup]="educationForm" (ngSubmit)="onSubmitEdu(educationForm)">
                  <md-input-container>
                    <input mdInput formControlName="institute" placeholder="Institute Name">
                    <md-error>Institute name is required</md-error>
                  </md-input-container>
                  <md-input-container>
                    <input mdInput formControlName="degree" placeholder="Degree">
                    <md-error>Degree field is required</md-error>
                  </md-input-container>
                  <md-input-container>
                    <input mdInput formControlName="grades" placeholder="Grades">
                    <md-error>Grades field is required</md-error>
                  </md-input-container>
                  <md-input-container>
                    <input mdInput formControlName="major_subject" placeholder="Field">
                    <md-error>Education field is required</md-error>
                  </md-input-container>
                  <md-input-container [ngStyle]="{width: '99%'}">
                    <textarea mdInput md-autosize minRows="1" formControlName="description"
                              placeholder="Add Description"></textarea>
                    <md-error>Description is required</md-error>
                  </md-input-container>

                  <button md-raised-button class="float-xs-right" *ngIf="!isUpdatingEdu"
                          [disabled]="educationForm.invalid" type="submit"
                          color="accent">Save
                  </button>
                  <button md-raised-button *ngIf="isUpdatingEdu" [disabled]="educationForm.invalid" type="submit"
                          color="accent">Update
                  </button>
                </form>
              </section>
              <a class="add-icon" [class.anim-icon]="edustatus" mdTooltip="Add Education" (click)="eduEvent()">
                <md-icon>keyboard_arrow_down</md-icon>
              </a>
              <a class="add-btn" (click)="eduEvent()">
                Add Education
              </a>
              <!--education display-->
              <section>
                <ng-container *ngIf="educationRes">
                  <hr>
                  <ng-container *ngFor="let edu of educationRes">
                    <div class="academic-info">
                      <i class="fa fa-check-circle"></i>
                      <div class="academic-details">
                        <span class="title">{{edu.institution}}</span>
                        <span class="sub-title1">{{edu.degree_level}}</span>
                        <span class="sub-title2">{{edu.major_study_area}}</span>
                      </div>
                      <a class="edit-icon" (click)="showSpecificEducation(edu.user_id,edu.id)">
                        <md-icon>edit</md-icon>
                      </a>
                    </div>
                    <hr>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="!educationRes">
                  <hr>
                  <div class="no-content">
                    <h5>Please add your Academic Information
                      <md-icon>school</md-icon>
                    </h5>
                  </div>
                </ng-container>
              </section>
            </div>

            <div id="skills">
              <h5>Skills Information</h5>
              <!--add skills-->
              <section *ngIf="skillstatus === true" [@slider]="skillstatus">
                <form [formGroup]="skillsForm" (ngSubmit)="onSubmitSkill(skillsForm)">
                  <md-input-container [ngStyle]="{width: '99%'}">
                    <textarea mdInput md-autosize formControlName="skill" placeholder="Add your skills"></textarea>
                    <md-error>Skill name is required</md-error>
                  </md-input-container>
                  <button md-raised-button [disabled]="skillsForm.invalid" type="submit" color="accent">Submit</button>
                </form>
              </section>
              <a class="add-icon" [class.anim-icon]="skillstatus" mdTooltip="Add Experiences" (click)="skillsEvent()">
                <md-icon>keyboard_arrow_down</md-icon>
              </a>
              <a class="add-btn" (click)="skillsEvent()">
                Add Skills
              </a>
              <!--display skills-->
              <section>
                <hr>
                <md-chip-list>
                  <ng-container *ngIf="skillsRes">
                    <ng-container *ngFor="let skill of skillsRes">
                      <md-chip class="skill-chip">{{skill.skills}}</md-chip>
                    </ng-container>
                  </ng-container>
                </md-chip-list>
                <ng-container *ngIf="!skillsRes">
                  <div class="no-content">
                    <h5>Please add your Skills
                      <md-icon>layers</md-icon>
                    </h5>
                  </div>
                </ng-container>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
