<div class="cover"></div>
<div class="itg-wrapper">
  <div class="profile row" [ngStyle]="{'margin': '0'}">
    <itg-profile-info-basic></itg-profile-info-basic>
    <itg-profile-info-complete></itg-profile-info-complete>
    <!--<router-outlet></router-outlet>-->
    <div class="itg-clearfix"></div>
  </div>
</div>
<itg-footer [ngStyle]="{'position': 'absolute', 'width': '100%'}"></itg-footer>
