.cover{
  min-height: 220px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: url("../../../../assets/img/back.png")no-repeat center center fixed #23c3ff;
  background-size: cover;
  @media (max-width: 767px) {
    min-height: 320px;
  }
}

.itg-wrapper {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 150px;

  .profile{
    top: 100px;
    position: relative;
  }
}
@media (max-width: 768px) {
  .itg-wrapper {
    margin-bottom: 200px;
    .profile{
      top:145px;
    }
  }
}
.itg-wrapper::after {
  content: "";
  display: table;
  clear: both;
}
