.form-wrapper{
    margin-top: 20px;
}
.form-intro{
    padding: 10px;
    border-radius: 3px;
    background-color: #ebebeb;
    color: dimgray;
    margin-bottom: 20px;

    h4{
        font-weight: bold;
        font-family: "futura", open sans;
    }
}