<md-card>
  <!--<div class="form-intro">
      <h4>Post any problem you have</h4>
  </div>-->
  <section style="background:#55ccbb; padding: 15px">
    <h3 style="color: #fff; margin:0">Submit Your Question</h3>
  </section>
  <div class="form-wrapper">
    <form [formGroup]="forumForm" (ngSubmit)="submitPost(forumForm)" novalidate>
      <div class="row">
        <div class="col-md-12">
          <md-select placeholder="Choose Category" formControlName="category_id">
            <md-option *ngFor="let rescategory of rescategories"
                       [value]="rescategory.id">
              {{ rescategory.category}}
            </md-option>
          </md-select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <md-input-container>
              <input mdInput placeholder="Title" type="text" formControlName="post_title">
            </md-input-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <md-input-container>
              <textarea mdInput placeholder="Enter your problem in detail" formControlName="post_body"></textarea>
            </md-input-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <md-input-container>
              <textarea mdInput placeholder="Paste your code here"></textarea>
            </md-input-container>
          </div>
        </div>
      </div>
      <!--<md-button class="btn-primary">Submit Post</md-button>-->
      <button [disabled]="forumForm.invalid" class="btn btn-custom bg-info waves-effect" type="submit">Post Problem</button>
      <!--<a class="btn btn-outline-info btn-rounded waves-effect create-forum-post">Post Qustion</a>-->
    </form>
  </div>
</md-card>
