<ng-container *ngIf="!activities && noResult == false">
  <div class="custom-loading" [@loadingAnim]="!activities">
    <h4>Retrieving Information...</h4>
    <!--<md-spinner color="accent" class="loading-spinner"></md-spinner>-->
  </div>
</ng-container>
<ng-container *ngIf="!activities && noResult == true">
  <div class="custom-loading" [@loadingAnim]="!activities">
    <h4>User has no Activities yet</h4>
  </div>
</ng-container>
<ng-container *ngIf="activities">
  <div class="activities-detail" [@slide]="activities">
    <div class="container-fluid">
      <h4>
        <md-icon>public</md-icon>
        Recent Activities
      </h4>
      <div *ngIf="activities">
        <section *ngFor="let activity of activities">
          <div class="activities-item" >
            <div class="activities-inner">
              <div class="inner-details">
                <div class="activity-title">
                  <span><a routerLink="/dashboard/forum-detail/{{ activity.post_id }}/{{ activity.post_title }}">{{ activity.post_title }}</a></span>
                </div>
                <div class="activity-subtitle">
                  <span>{{ activity.postedtime }}</span>
                  <span>- You</span>
                </div>
                <div class="subtitle-category">
                  <a routerLink="/dashboard/forum/category/{{ activity.cat_id }}/{{activity.category}}"
                     class="tag tag-success">{{ activity.category }}</a>
                </div>
                <div class="activity-body">
                  <span>{{ activity.post_body }}</span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <ng-container *ngIf="!activities">
        <section>
          <div class="activities-item">
            <div class="activities-inner">
              <div class="inner-details">
                <div class="activity-title">
                  <span>You dont have any activity log yet !! </span>
                  <button *ngIf="userId == parentRouteId" color="accent" md-raised-button>Add New Post</button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </ng-container>
    </div>
  </div>
</ng-container>
