.profile-basic{

  .profile-image{
    text-align: center;
    margin-bottom: 13px;
  }
  .profile-details{
    padding:10px;

    .profile-heading{
      text-align: center;
      h3{
        font-weight: 300;
        color: #03a9f4;
        text-transform: capitalize;
      }
      label{
        font-size: 17px;
      }
    }

    li{
      text-align: center;
      padding: 3px;
      label{
        font-size: 13px;
      }
      span{
        font-size: 13px;
        font-weight: normal;
        margin-left: 10px;
      }
    }
  }
  @media (max-width: 820px){
    .profile-details {
      li {
        line-height:25px;
        span {
          margin: 0;
          float: none !important;
        }
      }
    }
  }
  @media (max-width: 768px){
    .profile-details{
      .profile-heading{
        text-align: center;
      }
      li{
        text-align: center;
      }
    }
  }
}
