<section class="col-md-3 col-sm-12">
  <div class="container" >
    <div *ngFor="let profile of profileRes" class="profile-basic" >
      <div class="profile-image">
        <img src="{{profile_img}}/{{profile.profile_image}}" class="rounded img-thumbnail z-depth-1" width="160">
      </div>
      <div class="profile-details">
        <div class="profile-heading">
          <h3>{{profile.fname}} {{profile.mname}} {{profile.lname}}</h3>
        </div>
        <ul>
          <li><label>Status : <span class="tag bg-warning label-pill float-xs-right">{{profile.user_type}}</span></label></li>
          <li *ngIf="profile.college"><label>Studied at {{profile.college}}</label></li>
        </ul>
      </div>
    </div>
  </div>
</section>
