<section class="feedback-wrapper">
  <div class="container">
    <h5>Your Feedback Please !!</h5>
    <div class="form-wrapper">
      <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback(feedbackForm)" novalidate>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <md-input-container>
                <input mdInput placeholder="Feedback Title" type="text" formControlName="feedback_title">
              </md-input-container>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <md-input-container>
                  <textarea mdInput  placeholder="Enter your feedback in detail" formControlName="feedback_detail"></textarea>
                </md-input-container>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="form-group">
                <md-input-container>
                  <input mdInput   placeholder="Who are you ?" formControlName="feedback_user">
                </md-input-container>
              </div>
          </div>
        </div>
        <!--<div class="form-group">-->
          <!--<label class="form-control-label" for="photo">Photo</label>-->
            <!--<input type="file" class="form-control" id="photo" name="photo" (change)="postPhoto($event)"/>-->
        <!--</div>-->
        <!--<md-button class="btn-primary">Submit Post</md-button>-->
        <button md-raised-button (click)="openSnackBar()" color="accent" type="submit">Post Problem</button>
      </form>
    </div>
  </div>
</section>
