.feedback-wrapper{
  /*margin-top: 20px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 100vh - 9vh;

  .form-wrapper{
    background-color: #fff;
    padding:20px;
    border: 1px solid #bbb;
    box-shadow: 0 40px 60px -20px rgba(0, 0, 0, 0.28);
  }
}

