@import '~@angular/material/theming';

@include mat-core();
$primary: mat-palette($mat-blue, 600);
$accent: mat-palette($mat-teal);
$warn: mat-palette($mat-deep-orange, 700);

$itg-primary-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($itg-primary-theme);

