<ng-container *ngIf="!projectRes && noResult==false">
  <div class="custom-loading" [@loadingAnim]="!profileRes">
    <h4>Retrieving Information...</h4>
    <!--<md-spinner color="accent" class="loading-spinner"></md-spinner>-->
  </div>
</ng-container>
<ng-container *ngIf="!projectRes && noResult==true">
  <div class="custom-loading" [@loadingAnim]="!projectRes">
    <h4>No Projects added by the User</h4>
  </div>
</ng-container>
<ng-container *ngIf="projectRes && noResult == false">
  <section class="container-fluid" [@slide]="projectRes">
    <h4>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      Projects
      <button *ngIf="userId == parentRouteId" class="btn btn-orange btn-sm float-xs-right custom-edit-btn"
              (click)="myModal.open()"><i class="fa fa-plus"></i>Add Projects
      </button>
    </h4>
    <div class="project-details">
      <ng-container *ngIf="projectRes">
        <ng-container *ngFor="let project of projectRes">
          <md-card class="project">
            <md-card-header color="accent">
              <md-card-title>{{project.project_title}}</md-card-title>
              <!--<md-card-subtitle>E-commerce Site</md-card-subtitle>-->
            </md-card-header>
            <img md-card-image src="{{project.project_image}}">
            <md-card-content>
              <p>{{project.project_description}}</p>
            </md-card-content>
          </md-card>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!projectRes">
        <h5 *ngIf="userId == parentRouteId">Please add your project informations!!</h5>
        <h5 *ngIf="userId != parentRouteId">The user has no relevent project informations yet!!</h5>
      </ng-container>
    </div>
  </section>
</ng-container>
<modal #myModal>
  <modal-header class="main-modal-header">
    <h3>Add new project</h3>
  </modal-header>
  <modal-content class="main-modal-content">
    <form [formGroup]="projectForm">
      <md-input-container>
        <input mdInput formControlName="project_title" placeholder="Project Name">
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="project_duration" placeholder="Duration">
      </md-input-container>
      <md-input-container>
        <textarea mdInput formControlName="project_description" placeholder="Project Description"></textarea>
      </md-input-container>
      <button md-raised-button [disabled]="projectForm.invalid" type="submit" color="accent">Add Project</button>
    </form>
  </modal-content>
</modal>
