.container-fluid{
  h4{
    margin-bottom: 20px;
    font-weight: 300;
    color: #03a9f4;
    i{
      font-size: 20px;
      padding-right: 12px;
    }
    .custom-edit-btn{
      margin-top: 0;
      font-size: 12px;
      padding: 5px 8px 5px 8px;
      text-transform: none;
      i{
        font-size: 12px;
        padding-right: 4px;
      }
    }
  }

  .project-details{
    display: flex;
    justify-content:center;
    align-content: center;

    md-card.project.mat-card{
      max-width: 300px;
      margin: 0 5px 0 0;
      overflow: hidden;
      img{
      }
    }
  }

  @media (max-width: 850px) {
    h4 {
      font-size: 18px;
      i {
        font-size: 18px; //smaller font size for button display
      }
    }
  }
  section{
    margin-bottom: 25px;
  }
}
