/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  background: #efefef !important; /*#f5f5f5;*/
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

a,
span,
p,
li{
  font-weight: 400;
}
dt{
  font-weight: 500;
}
//custom css tricks
a:hover,
a:active,
a:focus{
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tag {
  font-weight: 400;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

//search-box
md-card.search-box {
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 2;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  padding: 0;

  .search-container {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    height: 100%;
    width: 100%;
    div {
      height: 30px;
      box-sizing: content-box;
    }
    md-icon {
      font-size: 30px;
      color: gray;
    }
    input.search {
      width: 75px;
      transition: width .3s ease;
      background: transparent;
      border: none;
      height: 30px;
      position: relative;
      top: -9px;
      margin-left: 10px;
      font-size: 20px;

      &::-webkit-input-placeholder {
        font-size: 20px;
      }
      &:focus,
      &:active {
        width: 80%;
        border: none;
        outline: none;
      }
    }
  }
}

//input width 100%
md-input-container {
  width: 100%;
}

//loading screen
.custom-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  transition: all .5s ease-in-out;
  h4 {
    text-align: center;
    padding-bottom: 30px;
  }
  .loading-spinner {
    margin: 0 auto;
  }
  md-spinner {
    height: 70px;
    width: 70px;
  }
}

//no results form search
.no-result {
  height: 50vh;
  transform: scale(.6);
  h3 {
    padding: 50px 0;
    text-align: center;
    font-size: 3em;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .no-result-face {
    height: 20em;
    width: 20em;
    display: block;
    margin: 50px auto;
    border-radius: 40px;
    border: 1em solid #454545;
    position: relative;

    .no-result-eyes {
      display: block;
      height: 3em;
      width: 3em;
      border-radius: 50%;
      position: absolute;
      background: #454545;
      top: 5em;
      left: 4em;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    }
    .no-result-eyes:nth-of-type(2) {
      display: block;
      left: 11em;
    }
    .no-result-mouth {
      background: #454545;
      position: absolute;
      top: 12em;
      left: 6em;
      height: 1.3em;
      width: 6em;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
      transform: matrix(1, 0.14, 0, 1, 0, 0);
    }
  }
}

//custom btn
.btn-custom {
  border-radius: 2px;
  border: 0;
  transition: .2s ease-out;
  color: #fff;
  margin: 6px;
  white-space: normal !important;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.8rem 2rem;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14);

  &:hover,&:focus{
    background: #31b0d5;
    color: #fff;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12)
  }
}

.mat-list .mat-list-item .mat-list-item-content {
  height: auto !important;
}

.itg-clearfix {
  content: '';
  display: table;
  clear: both;
}

button:focus{
  outline: none;
}

@media (max-width: 500px) {
  md-card.search-box {
    .search-container {
      input.search {
        width: 25%;
      }
    }
  }
}
