<nav class="profile-nav">
    <div class="profile-nav-wrapper">
        <ul class="profile-nav-links">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/profile/{{id}}">Profile</a>
            </li>
            <li routerLinkActive="active"><a routerLink="activities">Activities</a></li>
            <li routerLinkActive="active"><a routerLink="projects">Projects</a></li>
            <li *ngIf="userId === id" routerLinkActive="active"><a routerLink="settings">Settings</a></li>
        </ul>
    </div>
</nav>
