nav.profile-nav{
  background: #374355;
  margin-bottom: 40px;
  .profile-nav-wrapper{

    ul.profile-nav-links{
      margin: 0;
      display: block;
      padding: 0;
      li{
        display: table-cell;
        width: 1%;
        text-align: center;
        font-size: .95em;
        a{
          display: block;
          color: #fff;
          padding: 10px;
        }
      }

      li:hover,
      li.active{
        box-shadow: inset 3px 5px 45px #262c33;
      }
    }
  }
}

@media (max-width:400px){
  nav.profile-nav{
    .profile-nav-wrapper{
      ul.profile-nav-links{
        li{
          a{
            font-size: 12px;
            padding:  10px 3px;
          }
        }
      }
    }
  }
}
