.flex-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;

  .itg-logo {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .login {
    width: 420px;
    .login-header {
      text-align: center;
      color: #ffffff;
      padding: 15px;
      img {
        width: 120px;
      }
    }
    .login-body {
      md-list {
        md-list-item {
          md-icon {
            margin-right: 10px;
            color: #565656;
            font-size: 22px;
          }
        }

        .body-content {
          margin: 15px;

          md-checkbox {
            font-size: .8em;
          }
          a {
            float: right;
            font-size: .8rem;
            color: #1e1e1e;
            padding-top: 3px;

            &:hover {
              text-decoration: none;
              color: #03a9f4;
            }
          }
        }
      }
    }
    .login-footer {
      text-align: center;
    }
  }
  @media (max-width: 450px) {
    .itg-logo {
      padding: 20px 0 30px 0;
    }
    .login {
      width: 90vw;
      padding: 12px 8px 24px 8px;
      .login-header {
        padding: 10px;
        img{
          width: 100px;
        }
      }
    }
  }
}
