<div class="flex-container">
  <div class="itg-logo">
    <img src="http://itglance.org/img/IT-Glance-logo1.png" class="img-responsive" width="220px"/>
  </div>

  <div class="">
    <md-card class="login">
      <div class="login-header">
        <img src="http://vaps.com.ua/wp-content/uploads/2014/10/User_Placeholder-300x300.png"
             class="rounded-circle z-depth-1-half"/>
      </div>

      <form name="form" (ngSubmit)="f.form.valid && userlogin()" #f="ngForm" autoComplete="off">
        <div class="login-body">
          <md-list>
            <md-list-item>
              <md-icon>face</md-icon>
              <md-input-container>
                <input mdInput type="email" placeholder="Email"
                       name="email" [(ngModel)]="authUser.email" #email="ngModel" required/>
                <md-error *ngIf="f.submitted && !email.valid">Email is required</md-error>
              </md-input-container>
              <br>
            </md-list-item>

            <md-list-item>
              <md-icon>lock</md-icon>
              <md-input-container>
                <input mdInput type="password" placeholder="Password"
                       name="password" [(ngModel)]="authUser.password" #password="ngModel" required/>
                <md-error *ngIf="f.submitted && !password.valid">Password is required</md-error>
              </md-input-container>
              <br>
            </md-list-item>

            <div class="body-content">
              <md-checkbox [checked]="true" color="primary">Remember me</md-checkbox>
              <a href="#">Forgot Password?</a>
            </div>
          </md-list>
        </div>
        <div class="login-footer">
          <button md-raised-button color="primary" [disabled]="loading" style="width: 75%">Login</button>
          <img *ngIf="loading" src="http://content.prnewswire.com/designimages/ajax-loader.gif">
        </div>
      </form>
    </md-card>
  </div>
</div>
